/* 1. Réinitialisation globale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Configuration Grid sur le body */
body {
    font-family: serif;
    display: grid;
    grid-template-columns: 7fr 3fr; 
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* 3. Style du Header */
header {
    grid-column: 1 / span 2;
    background-color: #333333;
}

.header-title {
    color: white;
    padding: 40px 0 40px 30px;
    font-size: 1.3rem;
    font-weight: bold;
}

/* 4. Barre de navigation (Flexbox) */
nav {
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

/* 5. Zone principale (Main Content) */
main {
    grid-column: 1 / 2;
    background-color: #cccccc;
    padding: 30px;
    min-height: 380px;
    color: #111;
}

/* 6. Barre latérale (Aside Content) */
aside {
    grid-column: 2 / 3;
    background-color: #ffffff;
    padding: 30px;
    color: #111;
}

/* 7. Pied de page (Footer) */
footer {
    grid-column: 1 / span 2;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 60px 20px;
    font-size: 1.2rem;
    font-weight: bold;
}